{% extends "pages/service.html" %}

{% load static %}

{% block title %} Create {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/service.css' %}">
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block service_content %}
<div class="container_flex">
    <div class="container-card">
  <div class="container">
    <div>
        <h1 class="heading">Create a new post </h1>
    </div>

    <form method="post" enctype="multipart/form-data" class="create_form">
        {% csrf_token %}
        {{ form.as_p}}
        <div>
            <a href="{% url 'post_list'%}"></a>
            <button class="btn_create" >Save Post</button>
        </div>
    </form>
</div>  
</div>
</div>



 

{% endblock %}