{% extends "pages/service.html" %}

{% load static %}

{% block title %} list {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/service.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block service_content %}
<div>
    <div>
        <h1>All Posts</h1> <div class="box">
          <a class="btn_details" href="{% url 'post_create' %}">Add post</a>
          <div class="space">
              <span style="--i: 31" class="star"></span>
              <span style="--i: 12" class="star"></span>
              <span style="--i: 57" class="star"></span>
              <span style="--i: 93" class="star"></span>
              <span style="--i: 23" class="star"></span>
              <span style="--i: 70" class="star"></span>
              <span style="--i: 6" class="star"></span>
          </div>
      </div>
    </div>

{# Node list #}

{% for post in post_list %}
    <div class="post_container"> 
    <div class="container-image">
         <img src="{{post.image.url}}" alt="" class="image-circle fil-shoes1">
    </div>
    <div class="content">
        <div class="detail">
          <span>{{ post.title }} <br> {{ post.user }}</span>
          <p>{{ post.content|truncatechars:100 }}</p>
          <a class="btn_create" href="{% url 'post_detail' post.id %}" >Detail</a>
        </div>
        <div class="product-image">
          <div class="box-image">
            <img src="{{post.image.url}}" alt="" class="img-product fil-shoes2">
          </div>
        </div>
    </div>
       
   
    </div>

{% endfor %}

</div>

{% endblock %}