{% extends 'base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}


<div class="about">
   <div class="container">
     <div class="row">
       <div class="column1">
         <span class="tagline">Welcome to OpenSpace</span>
         <h1>
          {{owner}}<span id="ownerName" class="wrap"></span>
         </h1>
          <p>{{to_rotate_style}}</p>
          <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
           architecto veniam cum quibusdam ex. Assumenda quam soluta
           accusantium a optio enim, laborum ipsa. Dignissimos incidunt id
           perspiciatis distinctio. Rerum repudiandae quo in. Illo fuga ab,
           laboriosam esse commodi ratione hic saepe, porro incidunt ex vero,
           cupiditate voluptas consequatur unde architecto.
         </p>
         <a class="btn_connect" href="{% url 'contact' %}">
           Let's Connect
           <div class="icon-container">
             <img
               class="right-arrow"
               src="{% static 'icons/rightArrowCircle.png' %}"
               alt="right arrow"
             />
           </div>
          </a>
       </div>
       <div class="column2">
      
    
             <div
               class=
             >
               <img
                 class="ghost-image"
                 src="{% static 'img/ghost.jpg' %}"
                 alt="ghost"
               />
             </div>
       
       </div>
     </div>
   </div>
 </div>

 {{ to_rotate_styles|safe|json_script:"toRotate" }}
 <script src="{% static 'js/about.js' %}"></script>

{% endblock %}