
.container_flex {
    display: flex;
    justify-content: center;
    margin: 60px 0px;
}


/* content */
.container-card{
    display: flex;
    justify-content: center;

    width: 330px;
    padding: 40px 30px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                 2px 2px 5px rgba(94,104,121,0.288);
}


/* text */
.heading {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
}

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.);
    border-radius: 20px;
    background: crimson;
    width: 700px;
    height: 400px;
    
} */


/* field */


.create_form p {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;

}

.create_form p {
  margin-bottom: 20px;

  }

/* input */
.create_form p input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
}



.create_form p textarea {
    height: 150%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
}


.create_form p input:focus, .create_form p textarea:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
    inset -1px -1px 2px #ffffff73;
}

/* label */
.create_form p label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    pointer-events: none;
    color: #666666;
}
.create_form p label #id_image{
     display: hidden;
}

#id_image{
    padding-left: 0px !important;
    border-radius: 0px !important;
}



/* button */
.btn_create {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}

.btn_create:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
               inset -5px -5px 10px #ffffff73;
  }





.create_form p input:valid ~ .create_form p label {
    opacity: 0;
  }