
{% extends 'pages/service.html' %}

{% load static %}

{% block title %} Profile {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/service.css' %}">
<link rel="stylesheet" href="{% static 'css/service_profile.css' %}">
{% endblock %}


{% block service_content %}

<div>
    <div class="service_welcome">
      <div class="box">
          <a class="btn_details" href="{% url 'post_create' %}">Update</a>
          <div class="space">
              <span style="--i: 31" class="star"></span>
              <span style="--i: 12" class="star"></span>
              <span style="--i: 57" class="star"></span>
              <span style="--i: 93" class="star"></span>
              <span style="--i: 23" class="star"></span>
              <span style="--i: 70" class="star"></span>
              <span style="--i: 6" class="star"></span>
          </div>
      </div>
</div>

{# Node list #}
<div class="profile">
    <div class="body">
        <h1>Profile</h1>


    </div>

    {% if profile %}
    <div class="profile_info">
        <div class="profile_image">
            <img src="{{Profile.image.url}}" alt="" class="">
        </div>
        <div class="profile_item">
            {{ profile.phone_number }}
        </div>
        <div class="profile_item">
            {{ profile.street }}
        </div>
        <div class="profile_item">
            {{ profile.city }}
        </div>
        <div class="profile_item">
            {{ profile.state }}
        </div>
        <div class="profile_item">
            {{ profile.zip_code }}
        </div>

    </div>
    {% endif %} 



</div>


{% endblock %}