<footer class="footer">
    <div class="social-buttons-container">
      <div class="social-button facebook-button"></div>
      <div class="social-button insta-button"></div>
      <div class="social-button twitter-button"></div>
      <div class="social-button pinterest-button"></div>
    </div>
    <div class="footer-links-container">
      <div class="footer-flex-column">
        <ul>
          Home
          <li>Chillwave</li>
          <li>Gluten-free</li>
          <li>Kitsch Cardigan</li>
        </ul>
      </div>
      <div class="footer-flex-column">
        <ul>
          Services
          <li>Fingerstache</li>
          <li>Lumbersexual</li>
          <li>Lo-Fi Aesthitic</li>
        </ul>
      </div>
      <div class="footer-flex-column">
        <ul>
          About Us
          <li>Kale Chips</li>
          <li>Church Key</li>
          <li>Longboarding</li>
        </ul>
      </div>
      <div class="footer-flex-column">
        <ul>
          Contact 
          <li>Pinterest</li>
          <li>Etsy</li>
          <li>Blog Swag</li>
        </ul>
      </div>
    </div>
  </footer>